/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NotoSansJP';
  src: url('lib/assets/fonts/source-han-sans-jp-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansJP';
  src: url('lib/assets/fonts/source-han-sans-jp-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}